*{
    padding: 0;
    margin: 0;
}



/* Navbar customization*/
nav{
    background:#aef5fa;
    height: 4em;
}

nav .fas{
    font-size: 0.8em; 
}

nav ul{
    padding-top:0.6em;
}

ul li {
    list-style: none;
    display: inline;
}

.nav-link{
    text-decoration: none;
    padding: 0em 0.5em;
    font-size: 1.6em;
    color: rgb(56, 56, 56);
}

.nav-link:hover{
    color:rgb(121, 121, 121);
}

/*Content and container customization*/

.appInfo{
    margin: 2% 26%;
    height: 37em;
}

.appInfo p{
    font-size: 1.3em;
}

.button-primary{
    font-size: 2rem;
}

.one-half{
    float:right;
    margin:-10% -15%;
}

 .fa-mobile{
     font-size: 8rem;
 }

 .fa-tablet{
    font-size: 11rem;
}

.fa-desktop{
    font-size: 14rem;
}

/*Offers*/

.offers{
    background:rgb(0, 153, 255);
    text-align: center;
    height: 30em;
}

.offers li{
    display: inline-block;
    list-style: none;
    font-size: 1.2em;
    text-align: center;
    color: white;
    padding-right:1.4em;
    margin: 7em auto;
}

.offers i{
    font-size: 4em;
    color: rgb(40, 41, 41);
    padding-bottom: 0.3em;
}