*{
    padding: 0;
    margin: 0;
}

body{
    background:rgb(223, 222, 222);
}

nav{
    background:#aef5fa;
    height: 4em;
}

nav ul{
    padding-top:0.6em;
}

ul li {
    list-style: none;
    display: inline;
}

.nav-link{
    text-decoration: none;
    padding: 0em 0.5em;
    font-size: 1.6em;
    color: rgb(56, 56, 56);
}

.nav-link:hover{
    color:rgb(121, 121, 121);
}

.container{
    background: white;
}

.icons{
    float:right;
    margin:-7em 10em;
}

 .fa-mobile{
     font-size: 8rem;
 }

 .fa-tablet{
    font-size: 11rem;
}

.fa-desktop{
    font-size: 14rem;
}